.event{ :"data-event" => @event.id }
  %h1
    - link_to @event.name, "https://www.facebook.com/events/#{@event.fb_id}"

  .back
    %a{ href: "/" } back to events

  %h2 Place

  %p [todo!]

  %p name

  %p map...