.events

  - keyword_name = @keyword.name if @keyword

  %form{ method: "post", action: "/events" }
    %input{ type: "text", name: "location", value: keyword_name }
    %input{ type: "submit", value: "Search" }  
  
  .results
    - if @events == []
      %p Sorry, no events found with this keyword / location.

    - @events.each do |event|
      = haml :_event, locals: { event: event }