.events
  .results
    - if @events == []
      %p Sorry, no events found with this keyword / location.
    - else
      - @days.each do |day|
        - events = @events.day(day)
        - unless events == []
          .day= day.to_s_month
          - events.each do |event|
            = haml :_event, locals: { event: event }