%html
  %head
    %title Eventyd
    %link{ rel: "stylesheet", href: "/css/main.css" }
    %script{ src: "/js/vendor/zepto.js", type: "text/javascript" }
    %script{ src: "https://maps.googleapis.com/maps/api/js?sensor=false", type: "text/javascript" }
    
    %script{ src: "/js/main.js", type: "text/javascript" }
  %body
    #container
      %h1 Eventyd
      
      %section.content= yield