html, body {
  background: #eeeeee;
  font-family: Georgia;
  height: 100%; }

h1 {
  color: #ee0000; }

a {
  color: #ee0000; }

a:hover {
  color: #ee0000; }

input {
  font-size: 1.05em; }

.event span {
  font-size: 0.85em;
  font-family: monospace; }
.event .desc {
  font-size: 0.85em;
  margin: 20px 0; }

.details {
  margin: 10px 0; }

#gmap {
  height: 400px;
  width: 400px;
  float: left;
  margin: 10px 2%; }

#container {
  width: 92%;
  margin: 0 auto 40px; }
